
.terminal {
    font-family: Menlo, monospace;
    max-height: 100vh !important;
    overflow-y: auto;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    position: relative;
}
/* Styling the scrollbar for WebKit-based browsers */
.terminal::-webkit-scrollbar {
    width: 10px;
}
.terminal::-webkit-scrollbar-thumb {
    border-radius: 5px;
}
.terminal::-webkit-scrollbar-track {
    background-color: #000000; /* Black track */
}
.terminal-input {
    background-color: transparent;
}

.command-line {
    white-space: pre-wrap;
}